.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.125rem, 1fr));
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
.color-picker input[type="radio"] {
  display: none;
}
.color-picker label {
  width: 2.125rem;
  height: 2.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.color-picker label::before {
  content: "";
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  box-shadow: 0 0 0 6px var(--shape-button);
}
.color-picker input[type="radio"]:checked + label::before {
  box-shadow:
    0 0 0 4px var(--shape-button),
    /* 1ª camada: 4px de espaçamento interno */ 0 0 0 6px var(--brand-light);
}
.color-picker label:hover::before {
  box-shadow: 0 0 0 6px var(--shape-hover);
}
