.segmented-control {
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  height: 48px;
  gap: 0.25rem;

  & input {
    display: none;
  }
  & label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 100%; 
    cursor: pointer;
    font: 300 var(--text-body-md);
    color: var(--input-placeholder);
    border-radius: 0.375rem;
    transition: none;
    padding: 10px 18px;
    
  }
}
.segmented-control input[type="radio"]:checked + label {
  background-color: var(--shape-hover);
  color: var(--text-heading);
  font: var(--text-body-md);
  font-weight: 500;
}
.segmented-control input[type="radio"]:checked + label svg {
  stroke: var(--brand-light);
}