.input-container {
  display: inline;
}

.switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  gap: 1.25rem 0.75rem;
  height: 3rem;
  width: 11rem;
  padding: 8px 0 8px;
}
.switch-wrapper input[type="checkbox"] {
  display: none;
}

.switch-track {
  position: relative;

  width: 4.16rem;
  height: 2.16rem;
  cursor: pointer;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 9999px;
  transition: background-color 0.2s ease;
  margin: 0;
}

.switch-thumb {
  position: absolute;

  margin-left: 3px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--input-stroke);
  top: -27%;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.switch-wrapper input[type="checkbox"]:checked + .switch-track {
  background-color: var(--brand-light);
}
.switch-wrapper input[type="checkbox"]:checked + .switch-track .switch-thumb {
  transform: translateX(2rem);
  background-color: var(--text-heading);
}

.switch-text::after {
  content: "Escuro";
  font: var(--text-body-sm);
  color: var(--text-heading);
}

input[type="checkbox"]:checked ~ .switch-text::after {
  content: "Claro";
}
