#app {
  display: grid;
  grid-template-columns: 34.37% 65.63%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--shape-background);
  padding: 1.25rem;
  gap: 1.25rem;
}

aside {
  padding: 3.25rem;
  max-height: 45.25rem;
  background-image: url(/assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: .75rem;

  & img {
    width: 3.05rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
  & .aside-container {
    max-width: 21rem;

    & h1 {
      font: var(--text-logo);
      color: #FF598B;
      margin-bottom: .25rem;
    }
    & p {
      font: var(--text-body-md);
      font-weight: 300;
      color: var(--text-heading);
    }
  } 
}  
main {
  overflow: auto;
  padding: 5rem 8.12rem;
  background-color: var(--shape-body);
  border-radius: .75rem;
  margin-right: 1.25rem;

  & .main-container {
    max-width: 35rem;
    margin-left: auto;
    font: var(--text-body-sm);
    color: var(--text-heading);

    & > .calendar {
      color: var(--text-heading);
      font: var(--text-heading-sm);
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      & span {
        margin-left: .75rem;
      }
    }

    & > h1 {
      font: var(--text-heading-md);
      color: var(--text-heading);
      margin-bottom: 2.5rem;
    }
  }
}