#app {
  display: grid;
  grid-template-columns: 34.37% 65.63%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--shape-background);
  padding: 1.25rem;
  gap: 1.25rem;
}

aside {
  padding: 3.25rem;

  background-image: url(/assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.75rem;

  & img {
    width: 3.05rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
  & .aside-container {
    max-width: 21rem;

    & h1 {
      font: var(--text-logo);
      color: #ff598b;
      margin-bottom: 0.25rem;
    }
    & p {
      font: var(--text-body-md);
      font-weight: 300;
      color: var(--text-heading);
    }
  }
}
main {
  overflow: auto;
  padding: 5rem 8.12rem;
  background-color: var(--shape-body);
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  & .main-container {
    width: 100%;
    max-width: 35rem;
    font: var(--text-body-sm);
    color: var(--text-body);

    & > h1 {
      font: var(--text-heading-md);
      color: var(--text-heading);
      margin-bottom: 2.5rem;
    }
  }
}
.icon-title {
  margin-top: 3rem;
  color: var(--text-heading);
  font: var(--text-heading-sm);
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  & span {
    margin-left: 0.75rem;
  }
  & svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--input-placeholder);
  }
}
